#upload{
	padding:5px;
	text-align:center;
	width:150px;
	cursor:pointer !important;
	
}
#upload1{
	/*padding:5px;*/
	text-align:center;
	/*width:170px;*/
	cursor:pointer !important;
	
}
#upload2{
	padding:5px;
	text-align:center;
	width:170px;
	cursor:pointer !important;
}
#upload3{
	padding:5px;
	text-align:center;
	width:150px;
	cursor:pointer !important;
}
#upload4{
	padding:5px;
	text-align:center;
	width:150px;
	cursor:pointer !important;
}
#upload5{
	padding:5px;
	text-align:center;
	width:150px;
	cursor:pointer !important;
}
#upload6{
	padding:5px;
	text-align:center;
	width:150px;
	cursor:pointer !important;
}
#upload7{
	padding:5px;
	text-align:center;
	width:150px;
	cursor:pointer !important;
}
#upload8{
	padding:5px;
	text-align:center;
	width:150px;
	cursor:pointer !important;
}
#upload9{
	padding:5px;
	text-align:center;
	width:150px;
	cursor:pointer !important;
}
#upload10{
	padding:5px;
	text-align:center;
	width:150px;
	cursor:pointer !important;
}

.darkbg{
	background:#ddd !important;
}
#status{
	font-family:Arial; padding:5px;
}
ul#files{ 
list-style: none;
padding: 8px;
margin: 3px;
width: 148px;
border: 1px solid #aeaeae;
border-radius: 3px;
 }
ul#files li{ padding:10px; margin-bottom:2px; width:50px; float:left; margin-right:10px;}
ul#files li img{ max-width:180px; max-height:150px;margin-bottom:10px; }


/*
ul#files1{ 
list-style: none;
padding: 8px;
margin: 3px;
width: 148px;
}
*/


ul#files1 li{ padding:10px; margin-bottom:2px; width:50px; float:left; margin-right:10px;}
ul#files1 li img{ max-width:180px; max-height:150px;margin-bottom:10px; }
 /*
ul#files2{ 
list-style: none;
padding: 8px;
margin: 3px;
width: 148px;

 }

ul#files2 li{ padding:10px; margin-bottom:2px; width:50px; float:left; margin-right:10px;}
ul#files2 li img{ max-width:180px; max-height:150px;margin-bottom:10px; }
*/
ul#files3{ 
list-style: none;
padding: 8px;
margin: 3px;
width: 148px;

 }
ul#files3 li{ padding:10px; margin-bottom:2px; width:50px; float:left; margin-right:10px;}
ul#files3 li img{ max-width:180px; max-height:150px;margin-bottom:10px; }

ul#files4{ 
list-style: none;
padding: 8px;
margin: 3px;
width: 148px;

 }
ul#files4 li{ padding:10px; margin-bottom:2px; width:50px; float:left; margin-right:10px;}
ul#files4 li img{ max-width:180px; max-height:150px;margin-bottom:10px; }

ul#files5{ 
list-style: none;
padding: 8px;
margin: 3px;
width: 148px;

 }
ul#files5 li{ padding:10px; margin-bottom:2px; width:50px; float:left; margin-right:10px;}
ul#files5 li img{ max-width:180px; max-height:150px;margin-bottom:10px; }

ul#files6{ 
list-style: none;
padding: 8px;
margin: 3px;
width: 148px;

 }
ul#files6 li{ padding:10px; margin-bottom:2px; width:50px; float:left; margin-right:10px;}
ul#files6 li img{ max-width:180px; max-height:150px;margin-bottom:10px; }

ul#files7{ 
list-style: none;
padding: 8px;
margin: 3px;
width: 148px;

 }
ul#files7 li{ padding:10px; margin-bottom:2px; width:50px; float:left; margin-right:10px;}
ul#files7 li img{ max-width:180px; max-height:150px;margin-bottom:10px; }

ul#files8{ 
list-style: none;
padding: 8px;
margin: 3px;
width: 148px;

 }
ul#files8 li{ padding:10px; margin-bottom:2px; width:50px; float:left; margin-right:10px;}
ul#files8 li img{ max-width:180px; max-height:150px;margin-bottom:10px; }

ul#files9{ 
list-style: none;
padding: 8px;
margin: 3px;
width: 148px;

 }
ul#files9 li{ padding:10px; margin-bottom:2px; width:50px; float:left; margin-right:10px;}
ul#files9 li img{ max-width:180px; max-height:150px;margin-bottom:10px; }

ul#files10{ 
list-style: none;
padding: 8px;
margin: 3px;
width: 148px;

 }
ul#files10 li{ padding:10px; margin-bottom:2px; width:50px; float:left; margin-right:10px;}
ul#files10 li img{ max-width:180px; max-height:150px;margin-bottom:10px; }

.success{ }
.success1{ }
.success2{ }
.success3{ }
.error{/* background:#f0c6c3; border:1px solid #cc6622; */}